.chat-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #e9ecef;

  .buttons-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}

.chat-container {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;
  scroll-behavior: smooth;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .chat-container {
    height: 90% !important;
  }

  .input-container {
    display: none !important;
  }
}

.mobile-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .mobile-footer-container {
    display: none !important;
  }
}

.chat-header-container {
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
