.sidebar-container {
  height: 100%;
  padding: 10px;
  background-color: #f8f9fd;
}

@media screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}

.friends-container {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .friends-item {
    margin: 3px;
    padding: 10px;
    width: 98%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .friends-item:hover {
    background-color: #f1f4f5;
  }
}
