.sidebar-container {
  height: 100%;
  padding: 10px;
  background-color: #f8f9fd;
}

@media screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}

.friends-container {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .friends-item {
    margin: 3px;
    padding: 10px;
    width: 98%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .selected-friend {
    background-color: #3d64fd;
    color: #f8f9fd;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px;
  }

  .friend-avtar {
    color: #f8f9fd;
    background-color: #3d64fd;
    font-size: 16px;
    font-weight: bold;
  }

  .selected-avtar {
    background-color: transparent;
    color: #f8f9fd;
    border: 1px solid #f8f9fd;
  }

  .friends-item:hover {
    background-color: #3d64fd;
    color: #f8f9fd;
  }
}
